<div class="table-responsive">

    <table id="br1" class="table-bordered table table-sm  text-center  table-hover ">
      
        <thead>
          
          <tr style="line-height: 17px;">
            <th rowspan="3">№</th>
            <th rowspan="3">Ф И О</th>
            {% for form in formset %}
            <th>{{forloop.counter}}-Иш тури</th>
            {% endfor %}
          </tr>
          <tr>
            {% for form in formset %}
            <th>
              {{form.narxnoma}}
            </th>
            {% endfor %}
          </tr>
          <tr>
            {% for form in formset %}
              <th>МИКДОР</th>
            {% endfor %}
          </tr>
         
        </thead>
        <tbody>
          <form action="" method="post">
            {% for form in formset %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>
                <div class="ui form">
                  <div class="field">
                    {{form.hodim}}
                  </div>
                </div>
              </td>
              <td>
                <div class="ui form">
                  <div class="field">
                    {{form.miqdor}}
                  </div>
                </div>
              </td>
              <td>
                <div class="ui form">
                  <div class="field">
                    {{form.miqdor}}
                  </div>
                </div>
              </td>
              <td>
                <div class="ui form">
                  <div class="field">
                    {{form.miqdor}}
                  </div>
                </div>
              </td>
              <td>
                <div class="ui form">
                  <div class="field">
                    {{form.miqdor}}
                  </div>
                </div>
              </td>
             
            {% endfor %}
          </form>
            
        
        
        </tbody>
    </table>
    </div>